NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
BACKEND_API_BASE_URL=http://localhost:8000
SERVICE_API_KEY=your_backend_service_api_key
NEXT_PUBLIC_ADMIN_USERNAME=admin
NEXT_PUBLIC_ADMIN_PASSWORD=admin
NEXT_PUBLIC_MANAGER_USERNAME=manager
NEXT_PUBLIC_MANAGER_PASSWORD=manager
